html, body{
    margin: 0;
    font-size: 0;
}
*{
    box-sizing: border-box;
}
.main-cont {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(images/park.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gameboard{
    display: inline-block;
    height: 60%;
    width: 40%;
    position: relative;
    top: 20%;
    left: 20%;
    border: 4px solid rgb(150, 114, 25);
    background-image: url(images/marble.jpg);
}
.gameboard-tile{
    height: 12.5%;
    width: 12.5%;
    position: relative;
    border: 1px solid goldenrod;
    display: inline-block;
}
.top-div{
    height: 100%;
    width: 100%;
    position: absolute;
}
.white-piece{
    background-image: url(images/whitepiece.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    box-shadow: 1.5px 1.5px 5px grey;
}
.black-piece{
    background-image: url(images/blackpiece.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    box-shadow: 1.5px 1.5px 5px grey;
}

.pointsWhite{
    position: relative;
    display: inline-block;
    height: 40%;
    width: 10%;
    top: 10%;
    left: 10%;
    background-color: lightgray;
}
.pointsBlack{
    position: relative;
    display: inline-block;
    height: 40%;
    width: 10%;
    top: 10%;
    left: 30%;
    background-color: lightgray;
}

