html, body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
.main-cont {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(images/park.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-bar{
    position: absolute;
    top: 2%;
    left: 35%;
    height: 15%;
    width: 30%;
    background-image: url(images/reversi.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.gameboard{
    display: inline-block;
    height: 60%;
    width: 40%;
    position: relative;
    top: 20%;
    left: 20%;
    border: 4px solid rgb(150, 114, 25);
    background-image: url(images/marble.jpg);
    font-size: 0;
}
.gameboard-tile{
    height: 12.5%;
    width: 12.5%;
    position: relative;
    border: 1px solid goldenrod;
    display: inline-block;
}
.top-div{
    height: 100%;
    width: 100%;
    position: absolute;
}
.white-piece{
    background-image: url(images/whitepiece.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    box-shadow: 1.5px 1.5px 5px rgb(173, 173, 173);
}
.black-piece{
    background-image: url(images/blackpiece.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
}
.pointsboard-black{
    position: relative;
    display: inline-block;
    height: 20%;
    width: 10%;
    top: 30%;
    left: 10%;
    background-image: url(images/blackpiece.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    text-align: center;
}
.chip-hop{
    animation: 1s hop linear infinite 0s;
}
.pointsboard-white{
    position: relative;
    display: inline-block;
    height: 20%;
    width: 10%;
    top: 30%;
    left: 30%;
    background-image: url(images/whitepiece.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    text-align: center;
}
.pointsB{
    font-size: 6vmin;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    position: relative;
    top: 31%;
}

.pointsW{
    font-size: 6vmin;
    color: black;
    font-family: 'Righteous', cursive;
    position: relative;
    top: 30%;
}
.reset-button{
    height: 10%;
    width: 5%;
    position: absolute;
    font-size: 2vw;
    left: 0%;
    top: 0%;
    text-align: center;
    cursor: default;
}
.reset-button img{
    height: 90%;
    width: 90%;
}

/***********Animation***********/

@keyframes hop {
    0% {top: 30%}
    25% {top: 27%}
    50% {top: 30%}
    75% {top: 29%}
    100% {top: 30%}
}


